.header {
  box-sizing: border-box;
  height: 15vh;
  width: 100%;
  padding: 30px 60px 150px 60px;
  background-color: #ff5200;
  display: flex;
  justify-content: space-between;
  font-family: 'Gilroy-Medium', sans-serif;
  letter-spacing: 1px;
}
.logo img {
  height: 48px;
  width: 160px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: 16px;
}

.navigation ul li {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding-left: 15px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
}

.navigationExtra {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.navigationExtra .app {
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  padding: 17px 23px;
  border: 1px solid white;
  border-radius: 10%;
  margin: 10px;
}

.navigationExtra .signIn {
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 15px;
  padding: 18px 30px;
}
