@font-face {
  font-family: Gilroy;
  src: url('../assets/Gilroy-ExtraBold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

body::selection {
  color: aqua;
}
